@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.banner-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #262626;
}
header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    z-index: 2;
}
.logo a{
    font-family: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(204, 201, 201);
}
.menu{
    position: relative;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(204, 201, 201);
    margin: 0 18px;
    position: relative;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: #fff;
}
.menu ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(12px);
    transition: 0.5s;
    opacity: 0;
}
.menu ul li a:hover:before{
    opacity: 1;
    transform: translateY(0);
}
.swiper{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #262626;
}
.swiper-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    position: relative;
    left: -40vh;
    top: 10vh;
}
.info p{
    font-size: 18px;
    font-weight: 500;
    color: red;
}
.info h1{
    font-size: 4rem;
    color: #fff;
    line-height: 1;
    padding: 20px 0;
}
.info a{
    text-decoration: none;
    position: relative;
    top: 12px;
    padding: 10px 18px;
    border: 2px solid red;
    background-color: transparent;
    color: rgb(204, 201, 201);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    box-shadow: 2px 2px 8px red;
    transition: 0.5s;
}
.info a:hover{
    background-color: red;
    border: 2px solid #262626;
}
.info a span{
    margin-left: 10px;
}
.image-slide{
    position: relative;
    display: block;
    left: 25vh;
}
.back-image{
    position: relative;
    top: -30vh;
    left: 10vh;
    transform: rotate(15deg);
}
.back-image img{
    width: 200px;
} 
.front-image{
    position: absolute;
    top: -35vh;
    right: -45vh;
    width: 580px;
    height: 580px;
    overflow: hidden;
}
.glassipa{
    position: absolute;
    width: 900px;
    height: 200px;
    left: 18%;
    bottom: -5vh;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.glassipa a{
    position: relative;
    font-size: 18px;
    color: rgb(204, 201, 201);
    text-decoration: none;
    top: -18px;
}
.glassipa p{
    line-height: 1.5;
}
.glassipa .icon{
    position: relative;
    top: 3vh;
    left: -3vh;
}
.glassipa .icon i{
    font-size: 22px;
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;
}

.glassipa .icon i:hover{
    color: red;
}